{% extends "_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="container">
	<div class="page-scroll" data-module="pageScroll">
		<section class="section section-1"></section>
		<section class="section section-2"></section>
		<section class="section section-3"></section>
		<section class="section section-4"></section>
	</div>
</div>
{% endblock %}