/* HOME */
.page-scroll{
    display: block;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.section{
    display: block;
    width: 100%;
    height: 100%;
}
.section-1{
    background: #ff4444;
}
.section-2{
    background: #ffbb33;
    height: 300%;
}
.section-3{
    background: #00C851;
}
.section-4{
    background: #33b5e5;
}